.main{
  background: #000;
  font-family: 'Source', sans-serif;
  color: #fff;
  padding: 0 25px;

  &__name{
    text-transform: uppercase;
    font-family: 'Russo', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #ff6b6b;
    text-stroke: 1px #ff6b6b;
    font-size: clamp(40px, 5.5vw, 100px);
    font-weight: 900;
    padding: 150px 0 55px 0;


    @media(max-width: 768px){
      padding: 30px 0 40px 0;
    }
  }

  &__block{
    display: flex;
    margin-bottom: 20px;
  }

  &__heading{
    font-size: 30px;
    color: #4ecdc4;

    @media(max-width: 992px){
      font-size: 25px;
    }
    @media(max-width: 768px){
      font-size: 22px;
    }
    @media(max-width: 576px){
      font-size: 20px;
    }
  }

  &__text{
    font-size: 18px;
    margin: 0;
    padding: 0;

    &-spn{
      text-decoration: underline;
    }

    @media(max-width: 992px){
      font-size: 16px;
    }
    @media(max-width: 768px){
      font-size: 15px;
    }
    @media(max-width: 576px){
      font-size: 14px;
    }
  }

  &__hobbies{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 40px 0;

    &-item{
      border: 1px solid #4ecdc4;
      padding: 10px 20px;
      border-radius: 30px;
      text-align: center;
    }

  }

}

html, body {
  background-color: #000;
  margin: 0;
  padding: 0;
}